.pocetna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.pocetna h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.pocetna-dugme {
  display: inline-block;
  padding: 16px 32px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pocetna-dugme:hover {
  background-color: #45a049;
}

.pitanje-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.pitanje {
  margin-bottom: 20px;
  background-color: #ccc;
  padding: 20px;
}

.odgovori {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odgovor {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.tacno{
  color: green;
}

.netacno{
  color: red;
}
